/* importing the font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
  background-color: #e1e8ee;
}

.main-container {
  font-family: "Roboto";
  background-color: #e1e8ee;
  height: 100vh;
}

/* Styling the wiki search header */
.wiki-search-header {
  border: 1px solid #d5c5c5;
  padding: 30px 20px 30px 20px;
  margin-bottom: 40px;
}
/* styling the wiki logo */
.wiki-logo {
  width: 250px;
}
/* styling the search box */
.search-input {
  border: 2px solid #d5cdcd;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 10px;
}

/* media query to adjust the search box size */
@media screen and (min-width: 300px) {
  .search-input {
    width: 100%;
  }
}

@media screen and (min-width: 770px) {
  .search-input {
    width: 65%;
  }
}
/* styling the dynamic output */
/* styling the search result */
.search-results {
  width: 100%;
  padding-left: 20px;
}

.result-item {
  margin-bottom: 20px;
}

.result-title {
  font-size: 1.4rem;
}

.link-description {
  font-size: 15px;
  color: #444444;
}

.result-url {
  color: #006621;
  text-decoration: none;
}

.result-url:hover {
  color: hsla(139, 88%, 29%, 0.822);
  text-decoration: underline;
}
